.inputField{
    display: inline;
}
.results{
    display: block;
}
.resultField{
    display: none;
    padding: 5px;
}
.coalitionField{
    display: none;
    padding: 5px;
}
table{
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    width: 450px;
    margin: 5px;
}
th{
    border: 2px solid black;
    font-size: 24px;
}
td{
    border: 1px solid black;
    font-size: 20px;
}
tr:nth-child(even) td {
    background-color: lightgrey;
}
  
tr:nth-child(odd) td {
    background-color: white;
}
#chart{
    display: inline-block;
    padding: 5px;
    width: 450px;
    margin:5px;
    margin-bottom: 95px;
}
#coalitionTable{
    display:none;
}
#chartjs-size-monitor{
    display:none;
}
.buttons{
    display:none;
}

