.inputField{
    display: inline;
}
.results{
    display: block;
    max-width: 95%;
}
.resultField{
    display: none;
    width: 470px;
}
table{
    border: 2px solid black;
    text-align: center;
    width:450px;
}
th{
    border: 2px solid black;
    font-size: 24px;
}
td{
    border: 1px solid black;
    font-size: 20px;
}
tr:nth-child(even) td {
    background-color: lightgrey;
}
  
tr:nth-child(odd) td {
    background-color: white;
}
#chart{
    width: 450px;
    display: block;
}
#coalitionTable{
    display:none;
}
