.inputField{
    display: inline;
}
.resultField{
    display: none;
}
table{
    border: 2px solid black;
    text-align: center;
}
th{
    border: 2px solid black;
    font-size: 24px;
}
td{
    border: 1px solid black;
    font-size: 20px;
}
tr:nth-child(even) td {
    background-color: lightgrey;
  }
  
  tr:nth-child(odd) td {
    background-color: white;
  }